a.logo-link(href=url_for())
    table.head-table
        tr.head-table
            td.head-table-img
                    img(src=url_for(theme.logo) alt="logo")
            td.head-table
                    h1.site-title #{ config.title }