/* Custom Material Theme */

$surfaceTint: #C1C1FF;

/* Primary */
$primary: #C1C1FF;
$onPrimary: #1300A9;

/* Primary container */
$primaryContainer: #4B4AEF;
$onPrimaryContainer: #FFFFFF;

/* Secondary */
$secondary: #C1C1FF;
$onSecondary: #26276E;

/* Secondary container */
$secondaryContainer: #36377E;
$onSecondaryContainer: #D1D0FF;

/* Tertiary */
$tertiary: #FFA9FD;
$onTertiary: #590061;

/* Tertiary container */
$tertiaryContainer: #A529AF;
$onTertiaryContainer: #FFFFFF;

/* Error */
$error: #FFB4AB;
$onError: #690005;

/* Error container */
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;

/* Background */
$background: #12131C;
$onBackground: #E4E1EE;

/* Surface */
$surface: #12131C;
$onSurface: #E4E1EE;
$surfaceVariant: #464556;
$onSurfaceVariant: #C6C4D8;

/* Outline */
$outline: #908FA1;
$outlineVariant: #464556;

/* Shadow */
$shadow: #000000;
$scrim: #000000;

/* Inverted */
$inverseSurface: #E4E1EE;
$inverseOnSurface: #302F3A;
$inversePrimary: #4543EA;

/* Fixed */
$primaryFixed: #E1DFFF;
$onPrimaryFixed: #08006C;
$primaryFixedDim: #C1C1FF;
$onPrimaryFixedVariant: #2921D3;

$secondaryFixed: #E1DFFF;
$onSecondaryFixed: #0F0D59;
$secondaryFixedDim: #C1C1FF;
$onSecondaryFixedVariant: #3D3F86;

$tertiaryFixed: #FFD6F9;
$onTertiaryFixed: #37003C;
$tertiaryFixedDim: #FFA9FD;
$onTertiaryFixedVariant: #7E0089;

/* Surface Dims */
$surfaceDim: #12131C;
$surfaceBright: #393843;

/* Surface Levels */
$surfaceContainerLowest: #0D0D16;
$surfaceContainerLow: #1B1B24;
$surfaceContainer: #1F1F28;
$surfaceContainerHigh: #292933;
$surfaceContainerHighest: #34343E